@use './mixins/mixins.scss' as *;

@font-face {
  font-family: 'ax-ui-icons'; /* Project id 5044328 */
  src:
    url('./fonts/iconfont.ttf') format('woff2'),
    url('./fonts/iconfont.woff') format('woff'),
    url('./fonts/iconfont.woff2') format('truetype');
}

[class^='#{$namespace}-icon'],
[class*='#{$namespace}-icon'] {
  //这样处理后，引入图标可以省略掉前缀
  font-family: 'ax-ui-icons' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$namespace}-icon-shuju:before {
  content: '\e8ec';
}

.#{$namespace}-icon-shuaxin:before {
  content: '\e8ed';
}

.#{$namespace}-icon-sousuo:before {
  content: '\e8ee';
}

.#{$namespace}-icon-tanhao:before {
  content: '\e8ef';
}

.#{$namespace}-icon-taolunqu:before {
  content: '\e8f0';
}

.#{$namespace}-icon-tianjiayouhuiquan:before {
  content: '\e8f1';
}

.#{$namespace}-icon-tishi:before {
  content: '\e8f2';
}

.#{$namespace}-icon-tupian:before {
  content: '\e8f3';
}

.#{$namespace}-icon-tuipiao:before {
  content: '\e8f4';
}

.#{$namespace}-icon-weixuanzhong:before {
  content: '\e8f5';
}

.#{$namespace}-icon-weibo:before {
  content: '\e8f6';
}

.#{$namespace}-icon-wenjuan:before {
  content: '\e8f7';
}

.#{$namespace}-icon-wode:before {
  content: '\e8f8';
}

.#{$namespace}-icon-weixin:before {
  content: '\e8f9';
}

.#{$namespace}-icon-wodeguanzhu:before {
  content: '\e8fa';
}

.#{$namespace}-icon-xiami:before {
  content: '\e8fb';
}

.#{$namespace}-icon-xiangkan:before {
  content: '\e8fc';
}

.#{$namespace}-icon-xiangji:before {
  content: '\e8fd';
}

.#{$namespace}-icon-xiaoxi:before {
  content: '\e8fe';
}

.#{$namespace}-icon-xiazai:before {
  content: '\e8ff';
}

.#{$namespace}-icon-xiaojuchang:before {
  content: '\e900';
}

.#{$namespace}-icon-xiaoshi:before {
  content: '\e901';
}

.#{$namespace}-icon-xiaoxizhongxin:before {
  content: '\e902';
}

.#{$namespace}-icon-yinhangka:before {
  content: '\e903';
}

.#{$namespace}-icon-yanjing:before {
  content: '\e904';
}

.#{$namespace}-icon-yingchengka:before {
  content: '\e905';
}

.#{$namespace}-icon-yixiangkan:before {
  content: '\e906';
}

.#{$namespace}-icon-yingpingmoban:before {
  content: '\e907';
}

.#{$namespace}-icon-yanchu:before {
  content: '\e908';
}

.#{$namespace}-icon-xiaomi:before {
  content: '\e909';
}

.#{$namespace}-icon-yingyuan:before {
  content: '\e90a';
}

.#{$namespace}-icon-zengjia:before {
  content: '\e90b';
}

.#{$namespace}-icon-yuyin:before {
  content: '\e90c';
}

.#{$namespace}-icon-youhuiquan:before {
  content: '\e90d';
}

.#{$namespace}-icon-WIFI:before {
  content: '\e90e';
}

.#{$namespace}-icon-zhibo:before {
  content: '\e90f';
}

.#{$namespace}-icon-youkuhuiyuan:before {
  content: '\e910';
}

.#{$namespace}-icon-yulebao:before {
  content: '\e911';
}

.#{$namespace}-icon-zhiwen:before {
  content: '\e912';
}

.#{$namespace}-icon-aixin1:before {
  content: '\e913';
}

.#{$namespace}-icon-chenggong1:before {
  content: '\e914';
}

.#{$namespace}-icon-dianzan1:before {
  content: '\e915';
}

.#{$namespace}-icon-dianhua1:before {
  content: '\e916';
}

.#{$namespace}-icon-bangzhu1:before {
  content: '\e917';
}

.#{$namespace}-icon-dianyingpiao1:before {
  content: '\e918';
}

.#{$namespace}-icon-faxian1:before {
  content: '\e919';
}

.#{$namespace}-icon-dingwei1:before {
  content: '\e91a';
}

.#{$namespace}-icon-gonggao:before {
  content: '\e91b';
}

.#{$namespace}-icon-huati1:before {
  content: '\e91c';
}

.#{$namespace}-icon-jianshao1:before {
  content: '\e91d';
}

.#{$namespace}-icon-huiyuan1:before {
  content: '\e91e';
}

.#{$namespace}-icon-pinglun1:before {
  content: '\e91f';
}

.#{$namespace}-icon-shequ1:before {
  content: '\e920';
}

.#{$namespace}-icon-shibai1:before {
  content: '\e921';
}

.#{$namespace}-icon-shijian1:before {
  content: '\e922';
}

.#{$namespace}-icon-shandian1:before {
  content: '\e923';
}

.#{$namespace}-icon-wode1:before {
  content: '\e924';
}

.#{$namespace}-icon-shouye1:before {
  content: '\e925';
}

.#{$namespace}-icon-shouji1:before {
  content: '\e926';
}

.#{$namespace}-icon-tanhao1:before {
  content: '\e927';
}

.#{$namespace}-icon-shoucang1:before {
  content: '\e928';
}

.#{$namespace}-icon-shuju1:before {
  content: '\e929';
}

.#{$namespace}-icon-wenda:before {
  content: '\e92a';
}

.#{$namespace}-icon-yanjing1:before {
  content: '\e92b';
}

.#{$namespace}-icon-yingchengka1:before {
  content: '\e92c';
}

.#{$namespace}-icon-xiangji1:before {
  content: '\e92d';
}

.#{$namespace}-icon-yingyuan1:before {
  content: '\e92e';
}

.#{$namespace}-icon-yinhangyouhui:before {
  content: '\e92f';
}

.#{$namespace}-icon-xiaoshi1:before {
  content: '\e930';
}

.#{$namespace}-icon-yanchu1:before {
  content: '\e931';
}

.#{$namespace}-icon-zengjia1:before {
  content: '\e932';
}

.#{$namespace}-icon-dianying1:before {
  content: '\e933';
}

.#{$namespace}-icon-youhuiquan1:before {
  content: '\e934';
}

.#{$namespace}-icon-remen:before {
  content: '\e935';
}

.#{$namespace}-icon-chuangzuo1:before {
  content: '\e936';
}

.#{$namespace}-icon-aixin:before {
  content: '\e8ab';
}

.#{$namespace}-icon-bianji:before {
  content: '\e8ac';
}

.#{$namespace}-icon-Dyanjing:before {
  content: '\e8ad';
}

.#{$namespace}-icon-caidan:before {
  content: '\e8ae';
}

.#{$namespace}-icon-anquan:before {
  content: '\e8af';
}

.#{$namespace}-icon-bangzhu:before {
  content: '\e8b0';
}

.#{$namespace}-icon-buganxingqu:before {
  content: '\e8b1';
}

.#{$namespace}-icon-bofangjilu:before {
  content: '\e8b2';
}

.#{$namespace}-icon-chuangzuo:before {
  content: '\e8b3';
}

.#{$namespace}-icon-chenggong:before {
  content: '\e8b4';
}

.#{$namespace}-icon-ceshi:before {
  content: '\e8b5';
}

.#{$namespace}-icon-dianhua:before {
  content: '\e8b6';
}

.#{$namespace}-icon-dianzan:before {
  content: '\e8b7';
}

.#{$namespace}-icon-dingwei:before {
  content: '\e8b8';
}

.#{$namespace}-icon-diantong_guan:before {
  content: '\e8b9';
}

.#{$namespace}-icon-dianying:before {
  content: '\e8ba';
}

.#{$namespace}-icon-ditu:before {
  content: '\e8bb';
}

.#{$namespace}-icon-diantong_kai:before {
  content: '\e8bc';
}

.#{$namespace}-icon-dianyingpiao:before {
  content: '\e8bd';
}

.#{$namespace}-icon-dingdan:before {
  content: '\e8be';
}

.#{$namespace}-icon-gengduo:before {
  content: '\e8bf';
}

.#{$namespace}-icon-fanbei:before {
  content: '\e8c0';
}

.#{$namespace}-icon-faxian:before {
  content: '\e8c1';
}

.#{$namespace}-icon-ertongpiao:before {
  content: '\e8c2';
}

.#{$namespace}-icon-gongyi:before {
  content: '\e8c3';
}

.#{$namespace}-icon-hongbao:before {
  content: '\e8c4';
}

.#{$namespace}-icon-fuzhi:before {
  content: '\e8c5';
}

.#{$namespace}-icon-fenxiang:before {
  content: '\e8c6';
}

.#{$namespace}-icon-huatifuhao:before {
  content: '\e8c7';
}

.#{$namespace}-icon-huiyuan:before {
  content: '\e8c8';
}

.#{$namespace}-icon-aliyu:before {
  content: '\e8c9';
}

.#{$namespace}-icon-jiju:before {
  content: '\e8ca';
}

.#{$namespace}-icon-jianshao:before {
  content: '\e8cb';
}

.#{$namespace}-icon-kabao:before {
  content: '\e8cc';
}

.#{$namespace}-icon-huati:before {
  content: '\e8cd';
}

.#{$namespace}-icon-guanzhu:before {
  content: '\e8ce';
}

.#{$namespace}-icon-maiyizengyi:before {
  content: '\e8cf';
}

.#{$namespace}-icon-mima:before {
  content: '\e8d0';
}

.#{$namespace}-icon-nan:before {
  content: '\e8d1';
}

.#{$namespace}-icon-nv:before {
  content: '\e8d2';
}

.#{$namespace}-icon-lihe:before {
  content: '\e8d3';
}

.#{$namespace}-icon-paihangbang:before {
  content: '\e8d4';
}

.#{$namespace}-icon-lipinka:before {
  content: '\e8d5';
}

.#{$namespace}-icon-pengyouquan:before {
  content: '\e8d6';
}

.#{$namespace}-icon-mingxinghuodong:before {
  content: '\e8d7';
}

.#{$namespace}-icon-qupiao:before {
  content: '\e8d8';
}

.#{$namespace}-icon-saoyisao:before {
  content: '\e8d9';
}

.#{$namespace}-icon-rili:before {
  content: '\e8da';
}

.#{$namespace}-icon-pinglun:before {
  content: '\e8db';
}

.#{$namespace}-icon-qinghuiyuan:before {
  content: '\e8dc';
}

.#{$namespace}-icon-riqian:before {
  content: '\e8dd';
}

.#{$namespace}-icon-shandian:before {
  content: '\e8de';
}

.#{$namespace}-icon-shaixuan:before {
  content: '\e8df';
}

.#{$namespace}-icon-shangquan:before {
  content: '\e8e0';
}

.#{$namespace}-icon-shanchu:before {
  content: '\e8e1';
}

.#{$namespace}-icon-shezhi:before {
  content: '\e8e2';
}

.#{$namespace}-icon-shangchuan:before {
  content: '\e8e3';
}

.#{$namespace}-icon-shequ:before {
  content: '\e8e4';
}

.#{$namespace}-icon-shengyinguanbi:before {
  content: '\e8e5';
}

.#{$namespace}-icon-shibai:before {
  content: '\e8e6';
}

.#{$namespace}-icon-shijian:before {
  content: '\e8e7';
}

.#{$namespace}-icon-shengyin:before {
  content: '\e8e8';
}

.#{$namespace}-icon-shoucang:before {
  content: '\e8e9';
}

.#{$namespace}-icon-shouji:before {
  content: '\e8ea';
}

.#{$namespace}-icon-shouye:before {
  content: '\e8eb';
}
