@use './mixins/mixins.scss' as *;

@include b(tree) {
  display: inline-block;
  width: 100%;
}

@include b('tree-node') {
  padding: 5px 0;
  font-size: 16px;

  &:hover {
    background-color: #f5f5f5;
  }

  @include e('expand-icon') {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(0deg); //这个属性是为了让图标可以旋转，0deg表示不旋转
    transition: transform 0.3s ease-in; //这个属性是为了让旋转有一个过渡效果
    cursor: pointer;
    &.expanded {
      transform: rotate(90deg); //当节点展开时，图标旋转90度
    }
    &.is-leaf {
      visibility: hidden;
      cursor: default;
    }
  }

  @include when(selected) {
    background-color: #e6f7ff;
  }
  @include e('content') {
    display: flex;
  }

  @include e('label') {
    flex: 1;
  }

  &:not(.is-disabled) {
    .ax-tree-node__label {
      cursor: pointer;
    }
  }
  &.is-disabled {
    .ax-tree-node__label {
      cursor: not-allowed;
    }
  }
}
